version: '3.8'

services:
  # Servicio para la API en .NET 8
  api:
    build: .
    image: happypayment:latest
    ports:
      - "8870:80"  # Exponer el puerto 80 del contenedor al 8080 en tu máquina local
    environment:
      - ASPNETCORE_ENVIRONMENT=Development  # Puedes ajustar el entorno aquí si lo deseas
      - DB_CONNECTION_STRING=Host=db;Port=5432;Username=postgres;Password=postgres;Database=HappyPaymentDB  # Cadena de conexión a la base de datos
    depends_on:
      - db  # Asegura que el servicio de la base de datos se inicie antes de la API

  # Servicio para la base de datos PostgreSQL
  db:
    image: postgres:14.18
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: HappyPaymentDB  # Nombre de la base de datos a crear
    volumes:
      - postgres-data:/var/lib/postgresql/data  # Volumen para persistir los datos
    ports:
      - "5432:5432"  # Exponer el puerto 5432 del contenedor al puerto 5432 de la máquina local
  
  # Servicios para ver logs

  # Servicios para ver trace
  traces:
    container_name: "zipkin"
    image: "openzipkin/zipkin:latest"
    restart: always
    ports:
      - 9991:9411
    depends_on:
      - api  # Asegura que la API esté disponible antes de iniciar el servicio de trace

volumes:
  postgres-data:
